@import "../../../styles/colors.scss";
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  min-width: 900px;
  height: 940px;
  margin: auto;
  .cardItem {
    background-color: $base-lightblue;
    border-radius: 20px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .cardItemInner {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin: 0;
        margin-top: 20px;
        height: 150px;
      }
      h3{
        color:#fff;
      }
      .ability {
        width: 200px;
        background-color: #fff;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        p {
          margin: 0;
        }
      }
    }
    &.__active {
      justify-content: flex-start;
    }
    &.normal {
      background-color: $normal-type;
    }
    &.fire {
      background-color: $fire-type;
    }
    &.water {
      background-color: $water-type;
    }
    &.electric {
      background-color: $electric-type;
    }
    &.grass {
      background-color: $grass-type;
    }
    &.ice {
      background-color: $ice-type;
    }
    &.fighting {
      background-color: $fighting-type;
    }
    &.poison {
      background-color: $poison-type;
    }
    &.ground {
      background-color: $ground-type;
    }
    &.flying {
      background-color: $flying-type;
    }
    &.psychic {
      background-color: $psychic-type;
    }
    &.bug {
      background-color: $bug-type;
    }
    &.rock {
      background-color: $rock-type;
    }
    &.ghost {
      background-color: $ghost-type;
    }
    &.dragon {
      background-color: $dragon-type;
    }
    &.dark {
      background-color: $dark-type;
    }
    &.steel {
      background-color: $steel-type;
    }
    &.fairy {
      background-color: $fairy-type;
    }
  }
}
